services:
  app:
    image: ghcr.io/birabittoh/crow:main
    build: .
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      POSTGRES_HOST: postgres
    volumes:
      - media_data:/app/uploads
    #  - sqlite_data:/app/data
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER:-crow}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  media_data:
  #sqlite_data:
  pg_data:
